* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 24px;
  background-color: #181F2B;
  color:  #ffffff;
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}