.data{
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 0;
  list-style: none;
}

.data-item{
  background-color: #202A3C;
  padding: 25px;
  width: 300px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
  margin-bottom: 10px;
}

.data-item:hover{
  transform: scale(1.1);
}

.data-item-quote{
  margin: 0;
  width: 250px;
  font-size: 14px;
  line-height: 21px;
}

.data-item-box{
  margin-top: 10px;
  display: flex;
  align-items:  center;
}

.data-item-box-title{
  margin: 0;
  font-size: 10px;
  line-height: 12px;
}

.data-item-box-text{
  margin: 0;
  font-size: 7px;
  line-height: 10px;
}

@media only screen and (max-width:960px){
  
  .data{
    flex-direction: column;
    align-items: center;
  }

}