.product{
  margin-top: 136px;
  margin-bottom: 179px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-box{
  display: flex;
  flex-direction: column;
}

.product-title{
  margin: 0;
  margin-right: 0;
  width: 300px;
  font-size: 40px;
  line-height: 50px;
}

.product-text1{
  margin: 0;
  margin-top: 16px;
  width: 449px;
  font-size: 16px;
  line-height: 24px;
}

.product-text2{
  margin: 0;
  margin-top: 16px;
  width: 553px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.product-link{
  font-size: 16px;
  line-height: 19px;
  width: 145px;
  color: #62E0D9;
  text-decoration: none;
  box-shadow: 0px 1px #62E0D9;
}

@media only screen and (max-width:1100px){

  .product{
    flex-direction: column;
  }

  .product-box{
    align-items: center;
  }

}

@media only screen and (max-width:580px){

  .product-img{
    width: 300px;
    height: 229px;
  }

  .product-title{
    font-size: 18px;
    line-height: 24px;
  }

  .product-text1{
    width: 300px;
    font-size: 14px;
    line-height: 21px;
  }

  .product-text2{
    width: 300px;
    font-size: 14px;
    line-height: 21px;
  }
}